# ---------------------------------------------------------------------------- #
#                                SERVER SETTINGS                               #
# ---------------------------------------------------------------------------- #

PORT=3001

# ---------------------------------------------------------------------------- #
#                                JSON WEB TOKEN                                #
# ---------------------------------------------------------------------------- #

# Se puede generar una nueva clave con el comando
# pwgen -s 64 1
# Este comando se instala en ubuntu con supo apt install pwgen

JWT_SECRET=

# ---------------------------------------------------------------------------- #
#                                     CORS                                     #
# ---------------------------------------------------------------------------- #

ORIGIN_ALLOW_CORS_URL=http://localhost:5173

# ---------------------------------------------------------------------------- #
#                                    STRIPE                                    #
# ---------------------------------------------------------------------------- #

# Claves secretas
STRIPE_PUBLIC_KEY=

# Claves publicas
STRIPE_SECRET_KEY=

# ---------------------------------------------------------------------------- #
#                                    MULTER                                    #
# ---------------------------------------------------------------------------- #

FILE_UPLOAD_DEST="uploads/"

# ---------------------------------------------------------------------------- #
#                                    PRISMA                                    #
# ---------------------------------------------------------------------------- #

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://daniel:12345@localhost:3306/payfdk"
